#Home {
  display: flex;
  flex-direction: column;
  height: 100%;

  animation: fadeInAnimation ease-in 5s 2.5s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#Home .Contents {
  flex-grow: 1;
  background: linear-gradient(white, rgb(84, 120, 252));
  overflow: scroll;
}

.Headline {
  font-size: 28px;
  font-weight: bold;
  color: rgb(236, 28, 255);
}

.Body {
  font-size: 20px;
}
