/** @format */

.JDSToolbar {
  display: flex;
  font-weight: bold;
  width: 100%;
}

.JDSToolbarButton {
  background-color: rgb(236, 239, 250);
  padding: 4px;
  flex: 1;
  font-size: 'large';
}

.JDSToolbarButton:focus {
  outline: none;
}

.JDSToolbarButton.selected {
  background-color: rgb(178, 181, 190);
}
